.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.content {
    font-size: 1.8rem;
    color: black;
}

.time {
    font-size: 1.5rem;
    color: rgb(51, 45, 32);
    margin-left: 200px;
}