.root {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.root h1{
    text-align: center;
    margin-left: 0;
    margin-top: 50px;
    margin-right: 0;
    margin-bottom: 50px;
}